{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <br>
    <br>
    <div class="p">

        <h4 style="color: cyan; ">
            <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
                a matter of hours to help you.</p>
    </div>
    <div class="box">
    <ul style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp; Swaythana <br><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;swaythana44@gmail.com <br><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp; 9898989898</ul>

</div>
<br>
<div class="box1">
    
    <ul style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp; Shree Vardhini <br><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;shreevardhini2812200@gmail.com <br><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp; 8989898989</ul>

</div>

</body>
<style>
    .box {
            text-align: justify;
            font-size: 22px;
            color: rgb(250, 244, 244);
            margin-top: 20px;
            width: 600px;
            height: 110px;
            padding: 5px;
            border: 1px solid rgb(62, 197, 238);
            background: rgba(99, 64, 88, 0.5)
        }
        .box1 {
            text-align: justify;
            font-size: 22px;
            color: rgb(250, 244, 244);
            margin-top: 20px;
            width: 600px;
            height: 110px;
            padding: 5px;
            border: 1px solid rgb(62, 197, 238);
            background: rgba(99, 64, 88, 0.5)
        }
    .p {
        margin-top: 10px;
    }
</style>
{% endblock %}