<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
</head>

<body>
    <br>
    <br>
    <h2 style="color:lightgray" id="heading">
        <center> SignUp </center>
    </h2>

    <body bgcolor="cyan">
        <script>
            function validateSignUpForm() {

                var result = true;

                var name = document.getElementById("name").value;

                var job = document.getElementById("jobrole").value;

                var gender = document.getElementsByName("gender");

                let age = document.getElementById("age").value;

                var enteredUsername = document.getElementById("username").value;

                var enteredPassword = document.getElementById("password").value;

                var email = document.getElementById("email").value;

                var phone = document.getElementById("phoneno").value;

                var patt = /[abc]/;

                var pattern = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;

                var emailpatt = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;

                var phonepatt = /^\\+\\d{10,12}$/;

                if (name == "") {
                    result = false;
                    alert("Enter the name");
                }

                if (job == "") {
                    result = false;
                    alert("Enter the jobrole");
                }

                if (!(gender[0].checked || gender[1].checked)) {
                    result=false;
                    alert("Please Select Your Gender");
                }
                    
                if (age < 15 || age > 90) {
                    result = false;
                    alert("Enter valid age");
                }

                if (!emailpatt.test(email)) {
                    result = false;
                    alert("Enter valid email address");
                }

                if (phone.length < 10) {
                    result = false;
                    alert("Enter valid phone no");
                }

                if (enteredUsername == "") {
                    result = false;
                    alert("Enter the username");
                }

                if (enteredPassword == "") {
                    result = false;
                    alert("Enter the password");
                }

                if (!pattern.test(enteredPassword)) {
                    result = false;
                    alert("Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters");
                }

                return result;


            }
        </script>
        <form action="login1" method="post" onsubmit="return validateSignUpForm()">
            <center>
                <div>
                    <table style="margin-left:auto;margin-right:auto;">
                        <center>
                            <tr>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td class="al"><label style="color:lightgray">Name</label></td>
                                <td><input name="name" id="name" /><br></td>
                            </tr>
                            <tr>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td><label style="color:lightgray" class="al">Job Role</label></td>
                                <td><input name="jobrole" id="jobrole" /></td>
                            </tr>
                            <tr>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td class="al"><label style="color:lightgray">Gender</label></td>
                                <td><input type="radio" name="gender" id="gender" value="male" />&nbsp; Male &nbsp;
                                    &nbsp; &nbsp; &nbsp;
                                    <input type="radio" name="gender" value="female" />&nbsp; Female &nbsp;
                                </td>
                            <tr>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td><label style="color:lightgray" class="al">Age</label></td>
                                <td><input name="age" id="age" /></td>
                            </tr>
                            <tr>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td><label style="color:lightgray" class="al">Email</label></td>
                                <td><input name="email" id="email" /></td>
                            </tr>
                            <tr>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td><label style="color:lightgray" class="al">Phone No</label></td>
                                <td><input name="phoneno" id="phoneno" /></td>
                            </tr>
                            <tr>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td><label style="color:lightgray" class="al">Username</label></td>
                                <td><input name="username" id="username" /></td>
                            </tr>
                            <tr>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td><label style="color:lightgray" class="al">Password</label></td>
                                <td><input type="password" name="password" id="password" /></td>
                            </tr>
                            <tr>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td><button type="submit" class="btn btn-info" id="login">Submit</button></td>
                                <td><button type="reset" class="btn btn-info" id="login">Reset</button></td>
                            </tr>
                            <tr>
                                <td><br></td>
                            </tr>
                        </center>
                    </table>
                </div>
            </center>
        </form>

    </body>
    <style>
        .al {
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
            width: 130px;
        }

        div {
            text-align: left;
            margin: 30px;
            margin-left: 500px;
            width: 500px;
            height: 600px;
            padding: 5px;
            border: 1px solid rgb(62, 197, 238);
            background: rgba(99, 64, 88, 0.5)
        }

        #pay {
            width: 185px;
        }

        #login {
            margin-left: 50%;
            width: 100px;
            transform: translateX(-50%);
            color: #fff;
            background: #ff066eb4;
            padding: 10px 20px;
            font-size: 1em;
            font-weight: 600;
        }

        #login:hover {
            background: #f3408bb4;
        }

        #heading {
            margin: 10px;
            margin-left: 480px;
        }
    </style>

</html>